<?xml version="1.0" encoding="utf-8" ?>
<log4net>

  <!--Usando RollingFileAppender para geração de logs de texto-->
  <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">

    <!--Definindo o padrão de nome de arquivo -->
    <file type="log4net.Util.PatternString" value="logs\log-%utcdate{yyyy-MM-dd}.txt" />
    <datePattern value="yyyyMMdd" />

    <appendToFile value="true" />
    <rollingStyle value="Date" />

    <maxSizeRollBackups value="500" />
    <maximumFileSize value="10MB" />

    <CountDirection value="1"/>

    <!--Assegurando que o nome do arquivo não irá mudar.-->
    <staticLogFileName value="true" />

    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />

    <!-- Definindo a forma como o texto será escrito -->
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
    </layout>
    <!--<layout type="log4net.Layout.PatternLayout">
        <header value="[Header]&#13;&#10;" />
        <footer value="[Footer]&#13;&#10;" />
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>-->
  </appender>

  <root>
    <!--
    1.OFF - nada será logado
    2.FATAL 
    3.ERROR
    4.WARN
    5.INFO
    6.DEBUG
    7.ALL - tudo será logado
    -->
    <level value="ALL"/>
    <appender-ref ref="RollingFile"/>
  </root>

</log4net>